{% extends "core/base.html" %}

{% block title %} About Hardware Hive {% endblock %}

{% block content %}
    <div class="px-6">
    <h1 class="font-mono text-center font-bold text-4xl">About Hardware Hive</h1>

    <p class="py-6">Hardware Hive is an online marketplace that connects buyers and sellers of used computer parts. We aim to provide a
    trusted and affordable platform for people to buy and sell their gently used computer components. Our platform is
    designed to make it easy and convenient for buyers to find what they need, and for sellers to get fair prices for
    their gently used components.</p>

    <p class="py-6">At Hardware Hive, we understand the importance of reliable technology and we're committed to providing high-quality
    parts that have been thoroughly tested and verified. Our team of experts curates each item on our platform to ensure
    that it meets our standards for quality and functionality.</p>

    <p class="py-6">We believe that by providing an easy and accessible marketplace for used computer parts, we can help reduce e-waste
    and contribute to a more sustainable future. Our goal is to provide an alternative to buying brand new components,
    which often comes with a high price tag and a significant impact on the environment.</p>

    <p class="py-6">Whether you're looking for a specific part to upgrade your computer, or you're looking to sell your gently used
    components, Hardware Hive is here to help. Join our community of tech-savvy buyers and sellers today!</p>
    </div>
{% endblock %}