{% extends 'core/base.html' %}

{% block title %} Contact Us {% endblock %}

{% block content %}

    <div class="px-6">
        <h1 class="font-mono text-center font-bold text-4xl">Contact Us at TechSwap</h1>
        <h1>Get in touch with us!</h1>

        <p class="py-8">We appreciate your interest in our company and would love to hear from you. For any questions,
            comments or
            feedback regarding our products or services, please reach out to us through the following channels:</p>

        <div class="text-semibold text-teal-700 text-xl">
            <p>Email: support@techswap.com</p>
            <p>Phone: +XX (XXX) XXX-XXXX</p>
            <p>Address: ABC Main Street, Anytown, USA XXXXX</p>
        </div>

        <p class="py-8">Our customer service team is available Monday to Friday, 9am to 5pm IST to assist you.</p>

        <p class="py-8">Thank you for choosing TechSwap!"</p>

        <p class="py-8">Feel free to fill out the form below to send us a message.</p>

    </div>
{% endblock %}