{% extends 'core/base.html' %}

{% block title %} Privacy Policy {% endblock %}

{% block content %}
    <div class="px-6">
    <h1 class="font-mono text-center font-bold text-4xl">Privacy Policy</h1>
    <p class="py-8">Hardware Hive is committed to protecting the privacy of our users. We understand the importance of privacy and
        take this matter very seriously. This policy explains what personal information we collect, how we use it, and
        the steps we take to protect it.</p>

    <h3 class="font-semibold text-gray-700 py-4 text-xl">Information Collection and Use</h3>
    <p>Hardware Hive collects personal information when you create an account, place an order, or participate in any
        other activities on our platform. This information may include your name, email address, physical address,
        payment information, and other information that you choose to provide. We use this information to process your
        orders, provide customer support, and improve the services we offer.</p>

    <h3 class="font-semibold text-gray-700 py-4 text-xl">Cookies and Tracking Technologies</h3>
    <p>Hardware Hive uses cookies and other tracking technologies to enhance your experience on our website. Cookies are
        small data files that are stored on your device and help us understand your preferences and how you use our
        platform. We use cookies to provide you with a personalized experience, to understand the usage of our website,
        and to improve our services.</p>

    <h3 class="font-semibold text-gray-700 py-4 text-xl">Disclosure of Personal Information</h3>
    <p>Hardware Hive does not sell, rent, or share your personal information with third parties for their marketing
        purposes. We may share your personal information with third-party service providers for the purpose of
        processing your orders, providing customer support, and improving our services. These service providers are
        bound by strict confidentiality agreements and are only allowed to use your information to provide the services
        they are hired to perform.</p>

    <h3 class="font-semibold text-gray-700 py-4 text-xl">Security</h3>
    <p>Hardware Hive takes all necessary precautions to protect your personal information from unauthorized access,
        alteration, or destruction. We use secure servers and encrypt sensitive information, such as payment
        information, to ensure that your information is protected. However, no method of transmission over the internet
        or method of electronic storage is 100% secure. As a result, while we strive to protect your information, we
        cannot guarantee its absolute security.</p>

    <h3 class="font-semibold text-gray-700 py-4 text-xl">Updates to this Policy</h3>
    <p>Hardware Hive may update this privacy policy from time to time to reflect changes in our practices or to comply
        with legal requirements. We encourage you to review this policy regularly to stay informed about how we are
        protecting your information.</p>

    <h3 class="font-semibold text-gray-700 py-4 text-xl">Contact Us</h3>
    <p>f you have any questions about this privacy policy, or if you would like to make a complaint about a potential
        violation of your privacy rights, please contact us at [insert contact information]. We will do our best to
        address your concerns and resolve any issues you may have.</p>
    </div>
{% endblock %}