{% extends 'core/base.html' %}

{% block title %} Terms of use {% endblock %}

{% block content %}
    <div class="px-6">
        <h1 class="font-mono text-center font-bold text-4xl">Usage Terms</h1>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Introduction</h3>
        <p>Welcome to Hardware Hive, an online marketplace for buying and selling used computer parts. By accessing or
            using our platform, you agree to be bound by these terms of use, which constitute a legal agreement between
            you and Hardware Hive. If you do not agree to these terms, please do not use our platform.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Account Creation</h3>
        <p>In order to use our platform, you must create an account by providing us with your personal information, such
            as your name, email address, and physical address. You are responsible for maintaining the confidentiality
            of your account information and for all activities that occur under your account.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Listing and Selling of Items</h3>
        <p>Hardware Hive provides a platform for users to list and sell used computer parts. As a seller, you are
            responsible for ensuring that the items you list for sale are accurate and in compliance with applicable
            laws. You are also responsible for fulfilling any orders for the items you sell and for communicating with
            buyers in a professional manner.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Purchasing of Items</h3>
        <p>As a buyer, you are responsible for reviewing the item descriptions and conditions before making a purchase.
            You must complete the payment process and provide us with accurate shipping information. Hardware Hive does
            not guarantee the quality or condition of the items listed for sale on our platform and does not provide
            warranties for the items sold.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Fees and Payment Processing</h3>
        <p>Hardware Hive charges a fee for the use of our platform and for the processing of payments. The fees will be
            disclosed to you before you make a purchase and are subject to change at any time. Hardware Hive uses secure
            payment processing services to process transactions and protect your payment information.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Disputes</h3>
        <p>In the event of a dispute between a buyer and a seller, Hardware Hive will assist in resolving the issue to
            the best of our ability. However, we do not have control over the transactions and cannot guarantee the
            outcome of any dispute.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Intellectual Property</h3>
        <p>Hardware Hive respects the intellectual property rights of others and expects its users to do the same. If
            you believe that your intellectual property rights have been infringed, please contact us and provide us
            with the necessary information.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Termination</h3>
        <p>Hardware Hive reserves the right to terminate your account and access to our platform at any time, without
            notice, for any reason. Upon termination, you will no longer be able to use our platform to list or purchase
            items.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Disclaimer of Warranties</h3>
        <p>Hardware Hive provides our platform on an "as is" and "as available" basis. We make no representations or
            warranties of any kind, express or implied, as to the operation of our platform or the information, content,
            materials, or products included on our platform. To the fullest extent permissible by applicable law,
            Hardware Hive disclaims all warranties, express or implied, including, but not limited to, implied
            warranties of merchantability and fitness for a particular purpose.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Limitation of Liability</h3>
        <p>Hardware Hive shall not be liable for any damages of any kind arising from the use of our platform,
            including, but not limited to, direct, indirect, incidental, punitive, and consequential damages.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Governing Law</h3>
        <p>These terms of use shall be governed by and construed in accordance with the laws of the [insert
            jurisdiction], without giving effect to any principles of conflicts of law.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Changes to These Terms</h3>
        <p>Hardware Hive may revise these terms of use from time to time, and the changes will be effective upon
            posting. We encourage you to review these terms regularly to stay informed about the terms that apply to
            your use of our platform.</p>

        <h3 class="font-semibold text-gray-700 py-4 text-xl">Contact Us</h3>
        <p>If you have any questions about these terms of use, please contact us at terms@hardwarehive.com.</p>
    </div>
{% endblock %}