{% extends 'core/base.html' %}
{% load static %}
{% block title %}{{ item.name }}{% endblock %}

{% block content %}
    <div class="grid grid-cols-5 gap-6">
        <div class="col-span-3">
            <img src="{{ item.image.url }}" class="rounded-xl w-full h-full">
        </div>

        <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
            <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
            <p class="text-gray-500"><strong>Price: </strong>${{ item.price }}</p>
            <p class="text-gray-500"><strong>Seller: </strong>{{ item.created_by.username }}</p>

            {% if item.description %}
                <p class="text-gray-700">
                    <strong class="text-gray-500">Description:</strong><br>
                    {{ item.description }}
                </p>
            {% endif %}

            {% if request.user == item.created_by %}
                <div class="mt-6 p-6 bg-white rounded-xl">
                    <p>This is your item!</p>

                    <a href="{% url 'item:edit-item' item.id %}"
                       class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Edit</a>
                    <a href="{% url 'item:delete-item' item.id %}"
                       class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Delete</a>
                </div>
            {% else %}
                <div class="mt-6">
                    <a href="{% url 'chat:new' item.id %}"
                       class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contact
                        seller</a>
                    <button id="buy-button"
                            class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">
                        Buy
                    </button>
                </div>

                <form action="{% url 'item:buy-item' item.id %}" method="POST" id="buy-form" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="price" value="{{ item.price }}">
                    <input type="hidden" name="name" value="{{ item.name }}">
                    <div class="mt-6">
                        <label for="phone" class="block text-gray-700">Phone Number</label>
                        <input type="text" id="phone" name="phone" class="{{ INPUT_CLASSES }}">
                    </div>
                    <div class="mt-6">
                        <label for="address" class="block text-gray-700">Delivery Address</label>
                        <textarea id="address" name="address" rows="3" class="{{ INPUT_CLASSES }}"></textarea>
                    </div>
                    <a href="{% url 'item:order-confirmed' item.id %}"
                       class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Place
                        Order</a>
                </form>


                <script>
                    const buyButton = document.getElementById('buy-button');
                    const form = document.getElementById('buy-form');
                    const confirmationMessage = document.getElementById('confirmation-message');

                    buyButton.addEventListener('click', (event) => {
                        event.preventDefault();
                        buyButton.style.display = 'none';
                        form.style.display = 'block';
                    });
                </script>
            {% endif %}


        </div>
    </div>
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">You might also like</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for item in related_items %}
                <div>
                    <a href="{% url 'item:item-detail' item.id %}">
                        <div>
                            <img src="{{ item.image.url }}" class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ item.name }}</h2>
                            <p class="text-gray-500">Price: {{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
