{% load static %}
<footer class="py-6 px-16 flex justify-between bg-gray-800">
    <div class="w-2/3 pr-10">
        <h3 class="mb-5 font-semibold text-gray-400">About</h3>
        <img class="object-cover h-48 w-96" src="{% static "core/img/HardwareHiveCT.png" %}" alt="">
    <p class="text-lg text-gray-500">Hardware Hive is an online marketplace connecting buyers and sellers of used computer parts, offering high-quality, tested, and verified components at affordable prices.</p>
    </div>

    <div class="w-1/3">
        <h3 class="mb-5 font-semibold text-gray-400">Menu</h3>
        <ul class="space-y-2">
            <li><a href="{% url "core:about" %}" class="text-lg text-teal-500 hover:text-teal-700">About</a></li>
            <li><a href="{% url "core:contact" %}" class="text-lg text-teal-500 hover:text-teal-700">Contact</a></li>
            <li><a href="{% url "career:careers" %}" class="text-lg text-teal-500 hover:text-teal-700">Careers</a></li>
            <li><a href="{% url "core:privacy-policy" %}" class="text-lg text-teal-500 hover:text-teal-700">Privacy Policy</a></li>
            <li><a href="{% url "core:terms" %}" class="text-lg text-teal-500 hover:text-teal-700">Term of use</a></li>
        </ul>
    </div>
{#    <p class="text-lg text-center text-gray-500">&copy; 2023 All Rights Reserved.</p>#}
</footer>
