{% load static %}
<nav class="px-6 py-6 flex justify-between items-center border-b border-gray-200">
    <a href="/" class="text-xl font-semibold font-mono text-teal-500"> Hardware Hive </a>
{#    <img class="object-cover h-16 w-48" src="{% static "core/img/HardwareHiveCT.png" %}" alt="">#}
    <div class="space-x-6">
        <a href="{% url "about" %}" class="text-lg font-semibold hover:text-gray-500">About</a>
        <a href="#" class="text-lg font-semibold hover:text-gray-500">New Items</a>
        <a href="#" class="text-lg font-semibold hover:text-gray-500">Browse</a>

        <a href="#" class="px-6 py-3 text-lg font-semibold hover:bg-teal-700 bg-teal-500 text-white rounded-xl">Sign Up</a>
        <a href="#" class="px-6 py-3 text-lg font-semibold hover:bg-gray-700 bg-gray-500 text-white rounded-xl">Log In</a>
    </div>
</nav>